/* *********************************** */
@import url(normalize.min.css);
@import url(reset.css);

/* *********************************** */
/* *** ESTILOS GENERALES *** */
/* *********************************** */

/* Tipografía */
html{
font-family: 'Inika', sans-serif;
}

/* ******************************** */

/* Variables*/
:root{
  --letracolornaranja:#AD5A2E;
  --letracolormarrón: #3F1B0D;
  --letrapequeña:16px;
  --letragrande:32px;
}

